<section class="my-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
        <div class="mb-8">
          <h5 class="mb-3">
            Categories
          </h5>
          <ul class="nav nav-category">
            <li
              class="nav-item border-bottom w-100"
              *ngFor="let category of categories$ | async"
            >
              <a [routerLink]="'/categories/' + category.id" class="nav-link">
                {{category.name}} <i class="feather-icon icon-chevron-right"></i>
              </a>
            </li>
          </ul>
        </div>
          <!-- filter by store -->
        <div class="mb-8">
          <h5 class="mb-3">Stores</h5>
          <div class="my-4">
            <input
              type="search"
              class="form-control"
              placeholder="Search by store"
              [formControl]="storeFilter"
            >
          </div>
          <div *ngFor="let store of stores$ | async" class="form-check mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              [value]="store.id"
              [id]="store.name"
              (click)="updateSelectedStores(store.id, $event)"
            >
            <label class="form-check-label" [for]="store.name">
              {{store.name}}
            </label>
          </div>
        </div>
        <form [formGroup]="filterForm">
          <!-- filter by price -->
          <div class="mb-8">
            <h5 class="mb-3">Price</h5>
            <div>
              <div class="my-4">
                <input type="search" class="form-control" placeholder="From" formControlName="priceFrom">
                <p *ngIf="filterForm.get('priceFrom')!.invalid" class="text-danger">Please enter a numerical value.</p>
              </div>
              <div class="my-4">
                <input type="search" class="form-control" placeholder="To" formControlName="priceTo">
                <p *ngIf="filterForm.get('priceTo')!.invalid" class="text-danger">Please enter a numerical value.</p>
              </div>
            </div>
          </div>
          <!-- filter by rating -->
          <div class="mb-8">
            <h5 class="mb-3">Rating</h5>
            <div>
              <div class="form-check mb-2">
                <input formControlName="rating" class="form-check-input" type="radio" [value]="0" id="rating">
                <label class="form-check-label" for="rating">
                  <i>
                    All ratings
                  </i>
                </label>
              </div>
              <div *ngFor="let rating of starRatings$ | async" class="form-check mb-2">
                <input formControlName="rating" class="form-check-input" type="radio" [value]="rating.value" [id]="'rating' + rating">
                <label class="form-check-label" [for]="'rating' + rating">
                  <i
                    *ngFor="let val of rating.stars"
                    class="bi text-warning"
                    [ngClass]="{
                      'bi-star-fill': val === 1,
                      'bi-star': val === 0
                      }"
                  ></i>
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- main column -->
      <div *ngIf="selectedCategory$ | async as selectedCategory" class="col-12 col-lg-9 col-md-8">
        <div class="card mb-4 bg-light border-0">
          <div class="card-body p-9">
            <h2 class="mb-0 fs-1">
              {{selectedCategory.name}}
            </h2>
          </div>
        </div>
        <ng-container *ngIf="displayedProducts$ | async as products">
          <div class="d-lg-flex justify-content-between align-items-center">
            <div class="mb-3 mb-lg-0">
              <p class="mb-0">
                <span class="text-dark">{{(products$ | async)?.length}}</span> products found
              </p>
            </div>
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="d-flex mt-2 mt-lg-0">
                <div>
                  <select [formControl]="sortingForm" class="form-select">
                    <option
                      *ngFor="let option of sortingOptions$ | async"
                      [ngValue]="{ value: option.value, property: option.property }"
                    >
                      {{option.label}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="displayedProducts$ | async as displayedProducts" class="row g-4 row-cols-1 mt-2">
            <app-product-card
              *ngFor="let product of displayedProducts"
              [product]="product"
            ></app-product-card>
            <div *ngIf="displayedProducts.length" class="row mt-8">
            <!-- items per page -->
              <div class="col-6">
                <h6 class="mb-2">
                  Limit
                </h6>
                <div class="btn-group" role="group">
                  <button
                    *ngFor="let item of itemsPerPageValues$ | async"
                    type="button"
                    class="btn btn btn-outline-primary"
                    (click)="setItemsPerPage(item)"
                  >
                    {{item}}
                  </button>
                </div>
              </div>
              <!-- pagination -->
              <div class="col-6">
                <h6 class="mb-2">
                  Pagination
                </h6>
                <nav>
                  <ul class="pagination">
                    <li
                      class="page-item"
                      *ngFor="let item of pages$ | async"
                      (click)="setPage(item)"
                    >
                      <a class="page-link">
                        {{item}}
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
