<ng-container *ngIf="store$ | async as store">
  <section class="my-lg-14 my-8">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img [src]="store.logoUrl" alt="" class="rounded-circle icon-shape icon-xxl">
          <div class="mt-4">
            <h1 class="mb-1 h4">
              {{store.name}}
            </h1>
            <div class="small text-muted">
              <span>It is only {{store.distance}} km from you!</span>
            </div>
          </div>
        </div>
        <div class="col-9 mb-8 bg-light d-lg-flex justify-content-lg-between rounded">
          <div class="align-self-center p-8">
            <div class="mb-3">
              <h5 class="mb-0 fw-bold">{{store.name}}</h5>
              <p class="mb-0 text-muted">
                Whatever the occasion, we've got you covered.
              </p>
            </div>
            <div class="position-relative">
              <input
                class="form-control"
                type="search"
                [placeholder]="'Search ' + store.name"
                [formControl]="searchForm"
              >
              <span class="position-absolute end-0 top-0 mt-2 me-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </span>
            </div>
          </div>
          <div class="py-4">
            <img src="assets/images/svg-graphics/store-graphics.svg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-lg-14 my-8">
    <div class="container">
      <div class="col-12 mb-6">
        <h3 class="mb-1">
          {{store.name}} products:
        </h3>
      </div>
      <ng-container *ngIf="products$ | async as products">
        <div *ngIf="products.length; else emptyState" class="row row-cols-6">
          <div *ngFor="let product of products" class="col">
            <div class="text-center mb-10">
              <img [src]="product.imageUrl" alt="" class="card-image rounded-circle">
              <div class="mt-4">
                <h5 class="fs-6 mb-0">
                  <a class="text-inherit">
                    {{product.name}}
                  </a>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <ng-template #emptyState>
          Currently there are no products in this store.
        </ng-template>
      </ng-container>
    </div>
  </section>
</ng-container>
