<section class="my-lg-14 my-8">
  <div class="container">
    <div class="col-12 mb-6">
      <h3 class="mb-1">
        {{(store$ | async)?.name}} products:
      </h3>
    </div>
    <div class="row row-cols-6">
      <div *ngFor="let product of products$ | async" class="col">
        <div class="text-center mb-10">
          <img [src]="product.imageUrl" alt="" class="card-image rounded-circle">
          <div class="mt-4">
            <h5 class="fs-6 mb-0">
              <a class="text-inherit">
                {{product.name}}
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
